jfinal-authority/src/main/resources/system-sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sqlGroup" type="sqlGroupType">
    <xs:annotation>
      <xs:documentation>复杂的 sql 写在 这里  简单的 直接 拼接了</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="sqlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sqlGroupType">
    <xs:sequence>
      <xs:element type="sqlType" name="sql" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="sqlGroupType" name="sqlGroup" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
</xs:schema>